In [1]:
!pwd
!ls

/Users/xiasong/Documents/Class_2016/DSE/DSE220/homework/homework_1
Dataprocessing.ipynb  Homework_1.pdf        wine_modified.csv
Dataprocessing.pdf    KNN.ipynb             wine_test_data.csv
Decisiontree.ipynb    KNN.pdf               wine_test_labels.csv
Decisiontree.pdf      Question.docx         wine_train_data.csv
Decisiontree1.ipynb   Untitled1.ipynb       wine_train_labels.csv
HW1.pdf               Untitled2.ipynb       wine_val_data.csv
HW_1_solutions.pdf    homework1.pdf         wine_val_labels.csv

In [2]:
import csv
import pandas as pd
import numpy as np
import scipy as sp
from numpy import nan

The questions in this section are sequential steps. So use the data obtained
after Question 1 for Question 2 and so on.

In [3]:
wmod = pd.read_csv('wine_modified.csv')
wmod.head()

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315,Proline
0,1.0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,1.0,13.20,1.78,NaN,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,1.0,13.16,2.36,NaN,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,1.0,14.37,NaN,2.50,NaN,NaN,3.85,NaN,NaN,NaN,7.80,NaN,NaN,NaN
4,1.0,13.24,2.59,NaN,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

Question 1: Remove the rows with missing labels ('class') and rows with more
than 7 missing features. Report the remaining number of rows. (1 mark)

Answer: the original number of rows is 178 and remaining number of rows is 154.

In [4]:
# create a function to find missing values
def num_missing(x):
    return sum(x.isnull())
len(wmod)

178

In [5]:
wmodclrow=pd.DataFrame(columns=('class','Alcohol','Malic acid','Ash','Alcalinity of ash',
                                'Magnesium','Total phenols','Flavanoids','Nonflavanoid phenols',
                                'Proanthocyanins','Color intensity','Hue','OD280/OD315','Proline'))
for i in range(len(wmod)):
    rows=wmod.iloc[i]
    if (pd.isnull(rows['class'])==False) and (num_missing(rows) <= 7):
        wmodclrow=wmodclrow.append(wmod.iloc[i])

In [6]:
wmodclrow.shape

(154, 14)

Question 2: Remove features with > 50% of missing values. For other fea-
tures with missing values ll them with the mean of the corresponding features.
Report the removed features (if any) and standard deviation of features with
missing values after lling. (2 marks)

In [7]:
#look for the column with missing values larger than 50%
wmodclcol=wmodclrow
for column in wmodclcol:
    rownum = len(wmodclcol)
    if num_missing(wmodclcol[column]) > rownum/2:
        print (column)

Ash

In [8]:
#drop the column with missing values larger than 50%
wmodclcol=wmodclcol.drop(['Ash'], axis=1)
#fill other column's missing values with the mean of column
wmodclcolfil=wmodclcol.fillna(wmodclcol.mean())

In [9]:
print('The removed feature is "Ash" and the following is the standard deviation of' 
      'features with missing value after filling')
wmodclcolfil.std()

The removed feature is "Ash" and the following is the standard deviation offeatures with missing value after filling

class                     0.766522
Alcohol                   3.804067
Malic acid                1.116005
Alcalinity of ash         3.456794
Magnesium                14.440377
Total phenols             0.617237
Flavanoids                0.873573
Nonflavanoid phenols      0.127083
Proanthocyanins           0.587671
Color intensity           2.325204
Hue                       0.229412
OD280/OD315               0.723261
Proline                 303.033368
dtype: float64

Question 3: Detect and remove rows with any outliers/incorrect values in fea-
tures 'alcohol' and 'proline' (if any). Clearly state the basis of your removal. (1
mark)

In [10]:
def replace(group):
    mean, std = group.mean(), group.std()
    outliers = (group - mean).abs() > 3*std
    group[outliers] = nan
    group = group.drop[(outliers), axis = 0]       # or "group[~outliers].mean()"
    return group

SyntaxError: invalid syntax (<ipython-input-10-5b6b42db9d66>, line 4)

In [11]:
def replace(group):
    mean, std = group.mean(), group.std()
    outliers = (group - mean).abs() > 3*std
    group[outliers] = nan        # or "group[~outliers].mean()"
    return group

In [13]:
wmodclcolfil['Alcohol']=replace(wmodclcolfil['Alcohol'])
wmodclcolfil['Proline']=replace(wmodclcolfil['Proline'])

In [15]:
wmodclcolfilout=pd.DataFrame(columns=('class','Alcohol','Malic acid','Alcalinity of ash','Magnesium',
                                      'Total phenols','Flavanoids','Nonflavanoid phenols','Proanthocyanins',
                                      'Color intensity','Hue','OD280/OD315','Proline'))
for i in range(len(wmodclcolfil)):
    rows=wmodclcolfil.iloc[i]
    if (pd.isnull(rows['Alcohol'])==False) and (pd.isnull(rows['Proline'])==False):
        wmodclcolfilout=wmodclcolfilout.append(wmodclcolfil.iloc[i])

In [16]:
wmodclcolfilout['Alcohol']

0      14.23
1      13.20
2      13.16
4      13.24
5      14.20
6      14.39
7      14.06
8      14.83
9      13.86
10     14.10
12     13.75
13     14.75
14     14.38
17     13.83
19     13.64
20     14.06
21     12.93
23     12.85
24     13.50
25     13.05
26     13.39
27     13.30
28     13.87
29     14.02
30     13.73
33     13.76
34     13.51
35     13.48
36     13.28
37     13.05
       ...
143    13.62
144    12.25
145    13.16
146    13.88
148    13.32
150    13.50
151    12.79
152    13.11
153    13.23
154    12.58
155    13.17
156    13.84
157    12.45
158    14.34
159    13.48
160    12.36
161    13.69
162    12.85
164    13.78
165    13.73
166    13.45
168    13.58
169    13.40
171    12.77
172    14.16
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: Alcohol, dtype: float64

In [166]:
print (len(wmodclcolfilout['Alcohol']),len(wmodclcolfil['Alcohol']))

148 154

In this problem, we remove the outliers based on the difference between value and feature mean larger than 3 times of feature's standard deviation